*{
    margin: 0px;
   padding: 0px;
   box-sizing: border-box;
    
}
body{
    background-color: rgb(195, 221, 241);
    padding: 50px;
    margin-top: 60px;
}
.first{
    color: rgb(128, 177, 213);
    font-size: 12px;
}
 
.main{
    width: 500px;
    height: 400px;
    margin-top: 60px;
    background-color: white;
    display: inline-block;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.name-input{
    width: 300px;
    height: 30px;
    padding: 8px 12px 8px 30px;
    display: inline-block;
    margin-bottom: 10px;
    margin-top: 50px;
    border-color: rgb(195, 221, 241);
    border-style: solid;
}
.name-wrapper  img{
position: absolute;
z-index: 4;
top: 56px;
 left: 10px
}
 .name-wrapper {
    position: relative;
    width: 300px;
    z-index: 1;
}
.email-input{
    width: 300px;
    height: 30px;
    display: inline-block;
    margin-bottom: 10px;
    padding: 8px 12px 8px 30px;
    border-color:  rgb(195, 221, 241);
    border-style: solid;
}
.email-wrapper  img{
    position: absolute;
    z-index: 4;
    top: 7px;
    left: 10px
}
.email-wrapper {
        position: relative;
        width: 300px;
        z-index: 1;
}
.phone-input{
    width: 300px;
    height: 30px;
    display: inline-block;
    margin-bottom: 10px;
    padding: 8px 12px 8px 30px;
    border-color: rgb(195, 221, 241);
    border-style: solid;
}
.phone-wrapper  img{
    position: absolute;
    z-index: 4;
    top: 7px;
     left: 10px
}
.phone-wrapper {
        position: relative;
        width: 300px;
        z-index: 1;
     }
.need-input{
    width: 300px;
    height: 30px;
    display: inline-block;
    margin-bottom: 10px;
    padding: 8px 12px 8px 30px;
    border-color: rgb(195, 221, 241);
    border-style: solid;
}
.need-wrapper  img{
    position: absolute;
    z-index: 4;
    top: 7px;
     left: 10px
}
 .need-wrapper {
        position: relative;
        width: 300px;
        z-index: 1;
}

#note-input{
    width: 300px;
    height: 70px;
    display: inline-block;
    margin-bottom: 10px;
    padding: 8px 12px 8px 30px;
    border-color: rgb(195, 221, 241);
    border-style: solid;
}
.note-wrapper  img{
    position: absolute;
    z-index: 4;
    top: 7px;
     left: 10px;
    color: rgb(195, 221, 241);
}
 .note-wrapper {
        position: relative;
        width: 300px;
        z-index: 1;
}
button{
    width: 310px;
    height: 30px;  
    color: white;
  background-color: rgb(195, 221, 241) ;
  border-style: solid;
}